<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarpeDiem.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <CarpeDiem.MySettings>
            <setting name="LTGoalStart" serializeAs="String">
                <value>2016-01-01</value>
            </setting>
            <setting name="LTGoalEnd" serializeAs="String">
                <value>2016-12-31</value>
            </setting>
        </CarpeDiem.MySettings>
    </applicationSettings>
</configuration>
